<header th:fragment="admin">
    <div class="navContainer">
        <div class="row " >
            <div class="item col-xl-2 col-sm-6 item-1">
                <div id="item-1"><a th:href="@{/home-admin}">Buenos Aires</a> </div></div>
            <div class="item col-xl-1 col-sm-6 ">
                <div id="item-2" hidden>
                    <a th:href="@{/product}" style="text-decoration:none; color:black">Mis servicios</a></div>
                </div>
            <div class="item col-xl-4  col-sm-6 ">
                <div id="item-3" class="input-group mb-3">
                    <input class="form-control" type="text"  placeholder="Buscar" aria-describedby="button-search" aria-label="Buscar">
                    <button class="btn btn-outline-secondary" type="button" id="button-search"><img th:src="@{icons/magnifying-glass.png}" width="15px"></img></button>
                </div>
            </div>
            <div class="item col-xl-1 col-sm-6 ">
                <div id="item-5"><a th:href="@{/invoice_report_admin}">Facturas</a> </div>
            </div>

            <div class="item col-xl-1 col-sm-6 ">
                <div id="item-7"><img th:src="@{/icons/cart.png}" alt="" width="35px"></div>
            </div>
          
          
        </div>
    </div>
</header>
