<header th:fragment="header">
    <div class="navContainer">
        <div class="row " >
            <div class="item col-xl-2 col-sm-6 item-1">
                <div id="item-1"><a th:href="@{/home}">Buenos Aires</a> </div></div>
            <div class="item col-xl-1 col-sm-6 ">
                <div id="item-2">
                    <a th:href="@{/product}" style="text-decoration:none; color:black">Mis servicios</a></div>
                </div>
            <div class="item col-xl-4  col-sm-6 ">
                <div id="item-3" class="input-group mb-3">
                    <input class="form-control" type="text"  placeholder="Buscar" aria-describedby="button-search" aria-label="Buscar">
                    <button class="btn btn-outline-secondary" type="button" id="button-search"><img th:src="@{/icons/magnifying-glass.png}" width="15px"></img></button>
                </div>
            </div>
            <div class="item user col-xl-1 col-sm-6 ">
                <div id="item-4"><a th:href="@{/perfil}" style="text-decoration:none; color:black"><img th:src="@{/icons/user.png}" alt="" width="25px"> Perfil</a></div>
            </div>
            <div class="item col-xl-1 col-sm-6 ">
                <div id="item-5"><a th:href="@{/invoice_report_customer/10}">MIS PEDIDOS</a> </div>
            </div>
            <div class="item col-xl-1 col-sm-6 ">
                <div id="item-6"><a th:href="@{/register}" style="text-decoration:none; color:black">Registrarse</a> </div>
            </div>
            <div class="item col-xl-1 col-sm-6 ">
                <div id="item-7"><img th:src="@{/icons/cart.png}" alt="" width="35px"></div>
            </div>
          
          
        </div>
    </div>
</header>
