.navContainer{
    width: 100%;
    background-color: white;
}

.row{
    display: flex;
    justify-content: space-between;
     
}
.item{
    border-radius:20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}

#item-1 > a{
    margin-left: 20px;
    font-size:xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black
}

#item-2{
   margin: auto;
}

#item-3  {
    margin-top: 1em;
    width:100%; 
}

#item-6{
    margin-left: 60px;
}

.user{
    margin-right: 5px;
}

#item-5 > a{
    margin: auto;
    text-decoration: none;
    color: black;
}