.container-product{
    display: flex; 
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid rgba(65, 61, 61, 0.5);
}

.information-product{
    margin-left: 100px;
    margin-top: 50px;
}

.description-container{
    width: 80%;
    padding: 20px;
    margin: 0px auto 200px auto;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    border: 1px solid rgba(65, 61, 61, 0.5);
}

.image-container{
    width: 50%;
    margin-left: 100px;
}

.image-container img{
    width: 100%;
}

.item-description{
    margin-top: 20px;
    margin-bottom: 20px;
}