<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap5/css/bootstrap.min.css} " rel="stylesheet"/>
    <link th:href="@{/css/nav.css}"  rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/buyView.css}">
    <title>Resumen Venta | BA</title>
</head>
<nav th:insert="fragments/nav.html :: header"></nav>
<body>

    <!-- here start main resume! -->
    <div class="resume-container " th:object="${invoiceReport}">
        <div class="tittle"> Producto Comprado Exitosamente</div>
        <div class="data-container">
            <div class="description">
                <span id="item1" th:text="*{description}"></span>
                <span id="item2" th:text="'Total ' + '$' +*{amount}"></span>
                <span id="item3" >Te avisaremos cuando se agende la instalación</span>
            </div>
            <div class="image-container">
                <img class="image" th:src="@{/image/defult.jpg}" alt=""> 
            </div>
        </div>
    </div>

    <!-- here start! -->
    <form  class="col-3 container-invoice" th:object="${invoiceReport}" >
    <div class="field-container mb-3 item1">
        <lb  class="label1">Producto</lb>
        <inptut th:text="*{description}" class="form-control input1"></inptut>
    </div>
    <div class="field-container mb-3 item2">
        <lb class="form-label label2">Cliente</lb>
        <inptut th:text="*{nameCustomer}" class="form-control input2"></inptut>
    </div>
    <div class="field-container mb-3 item3">
        <lb class="form-label label3">Orden Despacho</lb>
        <inptut th:text="*{releaseOrder}" class="form-control input3"></inptut>
    </div>
    <div class="field-container mb-3 item4">
        <lb class="form-label label4">Precio</lb>
        <inptut th:text="'$'+*{amount}" class="form-control input4"></inptut>
    </div>
    <div class="field-container mb-3 item4">
        <lb class="form-label label4">fecha compra</lb>
        <inptut th:text="*{date}" class="form-control input4"></inptut>
    </div>


    </form>

    <!-- here ends! -->
    <div class="buton-container">
        <button id="instalation-button" class="btn btn-primary">Agendar instalación</button>
    </div>


   

  

<script th:src="@{/bootstrap5/js/bootstrap.min.js}"> </script>
<footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>