<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ANWO</title>
 <link th:href= "@{bootstrap5/css/bootstrap.min.css} " rel="stylesheet"/>
 <link th:href="@{css/nav.css}"  rel="stylesheet"/>
 


</head>
<body>
<nav th:insert="fragments/nav-admin.html :: admin"></nav>
	



<div class="container" style="display:flex; ">
	<div th:each= "producto : ${productos}" style="border:1px solid black;">
        <div class="product" style=" width: 500px;  margin: 15px">
    	<h1 th:text="${producto.isAvailable}"></h1>
        <h3 th:text="${producto.name}"> </h3>
        <h3 th:field="${producto.id}" th:text="${producto.id}"> </h3>
        <div class="image"> <img src="" alt=""> </div>
        <p th:text="${producto.description}"> </p>
        <div>
            <div class="precio" th:text="${producto.value}"></div>
            <a type="submit" th:href="@{/producto-info-admin/{id}(id=${producto.id})}" class="btn btn-primary">Ver producto</a>
        </div>
    </div>
    </div>
</div>
 <br><br><br><br><br><br><br><br><br><br><br><br>
<script th:src="@{/src/main/resources/static/bootstrap-5.1.3-dist/js/bootstrap.min.js}"> </script>
<footer th:insert="fragments/footer.html :: footer"></footer>

</body>
</html>