<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Producto Anwo</title>
 <link th:href= "@{bootstrap5/css/bootstrap.min.css} " rel="stylesheet"/>
 <link th:href="@{css/nav.css}"  rel="stylesheet"/>
</head>
<body>
<nav th:insert="fragments/nav.html :: header"></nav>

<div class="container" style="display: flex;">
<div class="col-3">
<h1>Imagen</h1>
</div>
<div class="col-6">
	<div>
		<h3>Nombre Producto</h3>
		<form th:action="${details.url}" method="POST">
    		<input type="hidden" name="token_ws" th:value="${details.token}">
    		<input type="submit" value="Ejecutar Pago con Webpay">
		</form>		
	</div>
</div>
</div>





    <div class="col-12 mastergrid mt-5 pt-5">
      <div class="container-fluid dimension-producto col-sm-12 col-8">
        <div class="row col-12">
          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 producto-principal">
            <div class="container d-flex">
                  <div id="imagen_producto">
                    <img class="main_image w-100 align-content-center" id="main-image" src="/media/{{ lista.image }}"  />
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 lateral">
            <div><h1 class="tag">Personalizable</h1></div>
            <div  ><h2 id="titulo_producto" class="page-header"></h2></div>
            <div ><h2  id="precio_producto1" class="precio_producto" ></h2></div>
              <button class="boton1 d-flex mt-3" style="background-color: rgb(18,62,91);color:white" > Agregar a carrito</button>
              <button class="boton1 d-flex float-left mt-3" style="background-color: rgb(18,62,91); color:white" > Agregar a favoritos</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid col-md-10 col-lg-10 col-xl-10 col-sm-12 mt-auto">
      <div class="row">
      <div  class="container text-center">
        <h1 id="descripcion_titulo"></h1>
        <br><br><br><br>
      </div>
      <div  class="list-description d-block align-items-center ">
          <h3 id="descripcion_producto"></h3>
      </div>
    </div>  
    </div>
<script th:src="@{/src/main/resources/static/bootstrap-5.1.3-dist/js/bootstrap.min.js}"> </script>
<footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>