<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Producto Anwo</title>
 <link th:href= "@{/bootstrap5/css/bootstrap.min.css} " rel="stylesheet"/>
 <link th:href="@{/css/nav.css}"  rel="stylesheet"/>
 <link rel="stylesheet" th:href="@{css/product-info.css}">
</head>

<body>
<nav th:insert="fragments/nav.html :: header"></nav>
 
<div class="container" style="display: flex; margin-top: 150px; margin-bottom: 270px">
	<div class="col-3">
		<img th:src="@{/image/defult.jpg}" alt="" width="300px"></img>
	</div>
	<div class="col-6">
		<div th:object="${producto}">
			<h1 th:if="${producto.isAvailable} == 'S'">disponible</h1>
			<h3 th:text="'$ '+${producto.value}"></h3>
			<h3 th:text="${producto.name}"></h3>
			<h4>Descripción :</h4>
			<p th:text="${producto.description}"></p>
			<form th:action="${details.url}" method="POST">
	    		<input type="hidden" name="token_ws" th:value="${details.token}">
	    		<input class="btn btn-primary" type="submit" value="Ejecutar Pago con Webpay">
			</form>		
		</div>
	</div>
</div>

<script th:src="@{/src/main/resources/static/bootstrap-5.1.3-dist/js/bootstrap.min.js}"> </script>
<footer th:insert="fragments/footer.html :: footer"></footer>
</body>

</html>